/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

:root {
  --white-color: #ffffff;
  --orange-color: #ff4820;
  --hover-color: #e0421a;
  --yellow-color: #ff8a71;
  --blue-color: #81afdd;
  --bg-color: #040c18;
  --text-color: #042c54;
  --light-green: #71e5ff;
  --hover-green: #10d368;
  --transition: 0.3s;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(62, 86, 122, 0.64);
}

/* Global Classes */
.gutter-reset {
  --bs-gutter-x: 0;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:not(.active) {
  color: var(--white-color);
}

button,
input {
  border: none;
  outline: none;
}

button:focus,
input:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 2px;
}

.section-pd {
  padding: 60px 0;
}

.colored-text,
.colored-bg {
  background: linear-gradient(to right, #ae67fa, #f49867);
}

.colored-text {
  font-weight: bolder;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-color {
  background-color: var(--bg-color);
}

.text-color {
  color: var(--blue-color);
}

.white-blue {
  background-color: var(--text-color);
}

.light-orange,
a.light-orange:hover {
  color: var(--hover-color) !important;
}

.light-green,
a.light-green:hover {
  color: var(--light-green) !important;
  transition: var(--transition);
}

.heading-bar::before {
  position: absolute;
  content: "";
  left: 10px;
  top: -15px;
  width: 50px;
  height: 3px;
  background: linear-gradient(to right, #ae67fa, #f49867);
}

.opacity-light {
  opacity: 0.7;
  transition: var(--transition);
}

.opacity-light:hover {
  opacity: 1;
}

.mt-100 {
  margin-top: 100px;
}

/* Header */
#header {
  transition: var(--transition);
}

#header.active,
#header.scroll-bg {
  background-color: rgba(65, 75, 88, 0.73);
  color: var(--white-color);
  backdrop-filter: blur(12px);
}

#header .register button {
  transition: var(--transition);
}

#header .register button:last-of-type {
  background-color: var(--orange-color);
  color: var(--white-color);
}

#header .register button:hover {
  border: 2px solid var(--hover-color) !important;
}

#header .navbar-brand {
  width: 70px;
}

#header .navbar-toggler {
  box-shadow: none;
  border: none;
}

#header .nav-link.active,
#header .nav-link:hover {
  color: var(--hover-color) !important;
}

#header.active .fa-xmark {
  color: var(--orange-color) !important;
  font-size: 2.6rem !important;
}

/* Landing Section */
#landing {
  padding: 150px 0 60px;
  background-color: var(--bg-color);
}

#landing .container {
  row-gap: 80px;
}

#landing main h1 {
  font-size: 3rem;
}

#landing main p {
  color: var(--blue-color);
}

#landing form,
#landing img {
  max-width: 550px;
}

#landing form button {
  background-color: var(--orange-color);
  transition: var(--transition);
}

#landing form button:hover {
  background-color: var(--hover-color);
}

#user-email {
  background: transparent;
  border: none;
  background-color: #052d56;
  color: #3d6184;
  font-size: 20px;
}

#user-email::placeholder {
  color: #3d6184;
}

/* Media Queries */
@media (min-width: 576px) {
  /* Styles for landscape phones */
}

@media (min-width: 768px) {
  /* Styles for tablets */
}

@media (min-width: 992px) {
  .font-lg-text {
    font-size: 1.1rem;
  }

  #header .navbar-nav {
    font-size: 1.1rem !important;
  }

  #header .register button:first-of-type {
    background-color: transparent;
    color: var(--white-color);
  }

  #header .nav-link.active,
  #header .nav-link:hover {
    color: var(--orange-color) !important;
    transform: scale(1.05);
  }
}

@media (min-width: 1200px) {
  .register button {
    font-size: 1.1rem !important;
  }
}

@media (min-width: 1400px) {
  nav .navbar-nav {
    font-size: 1.3rem !important;
  }
}
